/* 
    Document   : type
    Created on : Dec 27, 2013, 3:05:21 PM
    Author     : MHK448
    Description:
        Purpose of the stylesheet follows.
*/

hr{height: 2px;width: 90%;border: none;background-color: #b900b6;}
.color{color:#b900b6 }
input,textarea,select{
    border: solid 1px #0033cc
}

.bg-theme { 
    background-color: #b900b6;
}
.br-theme { 
    border-color: #b900b6;
    border-width: 1px;
}
div{
    border-color: #b900b6;
}
#topmenu-event .content .unread{
    background: #b900b6;
}
.hour-theme:hover { 
    background-color: #b900b6;
}

.active_btn{
    background-color: #b900b6;
    border: 1px solid black;
}
/*///////////////////////////////*/
.event-body a:hover{
    background-position: 0 0;
    color: black;
}
.event-body a{
    margin-top: 15px;
    cursor: pointer;
    background-color: #b900b6;
    border: 1px solid white;
    border-radius: 3px;
    padding: 2px 20px;
    color: white;
    background-position: 0 -8px;
    background-image: url('../images/icons/bg-btn.png');
    background-repeat: repeat-x;
}
/*//////////////////////*/
.form input,.form select,.form textarea,.input{
    border-top: 2px solid #b900b6;
    border-bottom: 2px solid #b900b6;
}
.form input[type=submit],.form input[type=button]{
    border: 2px solid #b900b6;
}
table.projects tr,table.projects th{border-color: #b900b6;}
table.projects tr:hover td{background:#DDFFAA;}

.my-project{background-color:#86d2fc !important;}
#menu > li:hover > a , #menu > li > a.select{
    background-color: #86d2fc;
}
