
/*/////// fast_submit //////*/
form.fast_submit input[type=submit]{
    border-radius: 2px;
    border: 2px solid aqua;
    width: 90%;
    height: 40px;
    margin-top: 25px;
    margin-right: -25px
}
form.fast_submit input[type=text]{
    width: 40%;
    height: 25px;
    padding: 2px;
    float: right;
    margin: 4px 15px;
}

/*/////////////*/
.counter{
    padding: 5px;
}
.counter .out_bg{
    display: inline-block;
    width: 115px;
    background-image: url('../images/icons/counter.jpg');
    background-size: cover;
    background-position: center center;
    /*border-radius: 5px;*/
    box-shadow: 0px 1px 3px 1px #333333;
    padding: 0px;
    margin: 3px;
}
.counter .in_bg{
    /*box-shadow: -20px 20px 30px 6px #DDDDDD inset;*/
    /*border-radius: 5px;*/
}
.counter .number{
    font-size: 35px;
    font-family: BYekan,'B Traffic',Tahoma;
    margin: -15px -10px -6px;
    text-shadow: 0 1px 2px green;
}
.counter .under_number{
    /*border-radius: 3px;*/
    color: white;
    /*width: 100%;*/
    font-size: 11px;
    /*padding: 1px;*/
    background-color: #666666;
    box-shadow: 0px 1px 5px 1px #444 inset;
    text-shadow: -1px 1px 1px #000;
}

/*/////// last_events //////*/
#last_events{
    background-color: white;
}
#last_events .block_body table{
    border: 1px solid #888;
    width: 100%;
    text-align: center;
    background-color: #EAEAEA;
}
#last_events .block_body thead{
    font-weight: bold;
    border: 1px solid #888
}
#last_events .block_body th{
    border-left: 1px dotted #888;
    background-color: #CCC;
}
#last_events .block_body tr:nth-child(odd){
    border-bottom: 1px dotted #AAA;
    background-color: #FFF;
}
#last_events .block_body tr:nth-child(even){
    border-bottom: 1px dotted #AAA;
    background-color: #EEE;
}
#last_events .block_body tr:hover{
    background-color: #DDD;
    border-bottom: 1px solid #000;
}
#last_events .block_body td{
    border-left: 1px dotted #CCC;
    padding: 5px 0;
    font-size: 12px;
}
#last_events {

}
/*////// slider_2_leyer ///////*/
.slider_2_leyer {
    box-shadow: 0px 1px 3px 1px #333333;
    padding: 0px;
}
.slider_2_leyer .front_box{
    background-color: blue;
}
.slider_2_leyer .back_box{
    display: none;
    background-color: red;
}
/*////// top_user ///////*/
/*.top-user{
    width: 17%;
    background: #ece2c5;
    margin: 1px;
    padding: 4px;
    display: inline-block;
}
.top-user .avator{
    background: white;
    margin-left: 3px;
    border: solid white 2px;
    width: 50px;
    height: 50px;
    position: relative;
    float: right;
}
.top-user .cover-layer{
    margin-top: -200px;
    height: 200px;
    z-index: 2;
    display: none;
    opacity: 0;
    position: absolute;
    padding: 10px;
}
.top-user:hover .cover-layer{
    display: block;
    opacity: 1;
}
.top-user .cover-layer div{
    position: absolute;
    padding: 5px;
}*/
.description1,.description2,.description3,.description4{
    width: 21%;
    text-align: justify;
    display: inline-block;
    padding: 10px;
    background-position: 95% 5%;
    background-repeat: no-repeat;
    cursor: pointer;
}
.description1 .line,.description2 .line,.description3 .line,.description4 .line{
    height: 2px;
    margin: 10px 0;
    background-color: gray;
}
.description1 h2,.description2 h2,.description3 h2,.description4 h2{
    padding: 8px;
    margin-right: 30px;
    text-align: right;
}
.description1 div,.description2 div,.description3 div,.description4 div{
    color: black;
}
.description1:hover,.description2:hover,.description3:hover,.description4:hover{
    color: white;
}
.description1:hover .line,.description2:hover .line,.description3:hover .line,.description4:hover .line{
    background-color: whitesmoke;
}
.description1{
    background-image: url('../images/theme/description_1_a.png');
}
.description1:hover{
    background-image: url('../images/theme/description_1_d.png');
}
.description2{
    background-image: url('../images/theme/description_2_a.png');
}
.description2:hover{
    background-image: url('../images/theme/description_2_d.png');
}
.description3{
    background-image: url('../images/theme/description_3_a.png');
}
.description3:hover{
    background-image: url('../images/theme/description_3_d.png');
}
.description4{
    background-image: url('../images/theme/description_4_a.png');
}
.description4:hover{
    background-image: url('../images/theme/description_4_d.png');
}

.counter2{
    width: 16%;
    font-size: 30px;
    color: white;
    display: inline-block;
    padding: 5px;
}
/*.counter2:hover{
    font-size: 40px;
}*/

.counter2 span{
    font-size: 11px;
    color: black;
}
.counter2 div{
    margin-top: -10px;
}
/*.counter2:hover div{
    margin-bottom: -30px;
}*/

#top_user:hover .back_box{
    height: 0px;
}
.topuser .back_box{
    overflow: hidden;
}
.topuser {
    cursor: pointer;
}
.big-header-bg{
    background-position:0px 0px;
    background-color: #222222;
    color: white;
    font-size: 12px;
/*    -webkit-transition: all 40s linear 0s;
    -moz-transition: all 40s linear 0s;
    -o-transition: all 40s linear 0s;
    -ms-transition: all 40s linear 0s;
    transition: all 40s linear 0s; 
    transition: all 40s linear 0s; */

}
/*.big-header-bg:hover{
    background-position: 2000px 600px;
    -webkit-transition: all 40s linear 0s;
    -moz-transition: all 40s linear 0s;
    -o-transition: all 40s linear 0s;
    -ms-transition: all 40s linear 0s;
    transition: all 40s linear 0s; 
    transition: all 40s linear 0s; 
}*/


/*////////////////////////////////*/
#side-home-text-bt1:hover{
    background-color: #e579a7;
}
#side-home-text-bt2:hover{
    background-color: #f7cf82;
}
#side-home-text-bt3:hover{
    background-color: #80aaf2;
}
#side-home-text-bt4:hover{
    background-color: #f65af6;
}

.side-home-text{
    padding: 5px;
}
.side-home-text p{
    color:black;
    font-size:14px;
    direction:rtl;
    text-align:justify;
    margin-right:20px;
}
#side-home-link{
    color:black;
    font-size:11pt;
    direction:rtl;
    text-align:left;
    margin-right:20px;
}
#side-home-link:hover{
    color:white;
    font-size:12pt;
}
#homeside-icon{
    float:right;
    padding-left: 5px;
    width:90px;
    margin: 5px;
}
.user-mini-info{
    width: 12% !important;
    margin: 2px;
    padding: 4px;
}