








/*-------------- panel ------------*/
.button-panel{
    text-align: center;
    margin: 10px;
    border-radius: 4px;
    padding: 15px 8px;
    display: inline-block;
    border: 1px solid #000;
}
.button-panel h2{
    color: #FFF;
}
.button-panel p{
    color: #000;
}
#button-panel:hover{
    background-image:url('../images/theme/button-user-hover.png');
    background-repeat:no-repeat;
}
/*-----    project    ------------*/
#topmenu-panel{
    background-image:url('../images/theme/sub_menu_bg.jpg');
    background-repeat:repeat-x;
    font-size:14pt;
    text-align:center;
    color:#373737;
    padding: 3px;
}
#sidebarperoject{
    background-image: url('../images/theme/bgperoject.jpg');
    float: right;
    margin-right: 10px;
    margin-top: 8px;
    height:60px;
    border-radius: 5px;
}
.pero-r1s1{
    width:25%;
    border-radius: 5px;
    float:right;
    height:85px;
}
#pero-r1s1-1{
    color:black;
    text-align:right;
    margin-right: 10px;
}
#pero-r1s1-2{
    color:white;
    text-align:center;
    font-size:30pt;
    margin-top:-10px;
}
#pero-r1s1-3{
    color:#434f06;
    text-align:center;
    margin-top:-8px;
}
.pero-r1s2{
    text-align:center;
    font-size:34px;
}
.pero-r2{
    background-color:#454545;
    color:white;
    /*height:45px;*/
    padding: 5px 0;
    /*border-radius: 5px;*/
}
.pero-table{
    width:100%;
    border:0px;
    padding:15px;
    direction:rtl;
    text-align:center;
}
.pero-r3{
    width:100%;
}
.pero-r3s1{
    width:25%;
    float:right;
    background-color:#cbcbcb;
    height:225px;
    direction:rtl;
    margin-left: 10px;
}
#pero-r3s2{
    width:100%;
    background-repeat:no-repeat;
    background-position:right;
    background-color:#6d6d6d;
    /*margin:0px 0px 80px 0px;*/
    /*height:84px;*/
    color:white;
}
.pero-tabler3{
    width:100%;
    border:0px;
    direction:rtl;
    text-align:center;
}
.pero-r3s2-time{
    background-color:#24968d;
    border-radius: 5px;
    min-width: 40px;
    /*padding: 10px 0;*/
    /*margin: 5px 0;*/
    font-size: 25pt;
}
.pero-r4{
    width:100%;
}
.pero-r4s1{
    width:25%;
    height:110px;
    float:right;
    background-color:#f69023;
    background-image:url('../images/theme/tender.png');
    background-repeat:no-repeat;
    background-position:right;
    color: white;	
    margin-left: 25px;
}
.pero-r4s1:hover{
    background-color:#fcce63;
    color: black;
}
.pero-r4s2{
    direction:rtl;
    text-align:justify;
    margin:10px;
}
.downloadbutton{
    background-color:#e2e2e2;
    height:73px;
}
#downloadhelp{
    direction:rtl;
    text-align:justify;
    padding:10px;
}
/*--------    bank     ------------*/
#banks {
    width: 366px;
    margin: 0 auto;
    padding-right: 6px;
}
#banks-list li {
    list-style: none;
    width: 55px;
    height: 55px;
    background: #fff;
    background-image: url('../images/icons/bank-logos.png');
    border-radius: 4px;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.8), 0 1px 0 rgba(255,255,255,0.8);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.8), 0 1px 0 rgba(255,255,255,0.8);
    box-shadow: 0 1px 4px rgba(0,0,0,0.8) inset, 0 1px 1px rgba(0,0,0,0.6) inset, 0 1px 0 rgba(255,255,255,0.8);
    float: right;
    margin-left: 6px;
    margin-bottom: 6px;
    cursor: pointer;
    overflow: hidden;
}
#banks-list li .default-bg {
    width: 55px;
    height: 55px;
}
#banks-list li:hover .default-bg {
    height: 0;
}
#banks .english-title, #banks .persian-title {
    display: none;
}
#banks-list li .on-hover {
    color: #FFF;
    background: rgba(136, 220, 50, 0.7);
    width: 55px;
    height: 55px;
    border-radius: 4px;
    box-shadow: 0 0 10px #000 inset;
    text-shadow: 0 0 5px #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.lt-ie9 #banks-list li .on-hover {
    background: #0033cc;
}
#banks-list li.selected {
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.8), 0 1px 0 rgba(255,255,255,0.8), 0 0 5px #f33;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.8), 0 1px 0 rgba(255,255,255,0.8), 0 0 5px #f33;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.8), 0 1px 0 rgba(255,255,255,0.8), 0 0 9px #f33;
}
#banks-list li.selected .default-bg {
    height: 0 !important;
}
#banks-list li.selected .on-hover {
    background: rgba(255, 51, 51, 0.8);
}
.lt-ie9 #banks-list li.selected .on-hover {
    background: #F33;
}
#banks-list li .on-hover .inner {
    width: 51px;
    height: 51px;
    font-family: "B Yekan", yekan;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    line-height: 1;
    padding: 2px;
}
.fill_with_text {
    font-size: 22px;
    overflow: hidden;
    background-color: transparent;
    color: #FFF;
    cursor: pointer;
}
#banks-list .Saman {
    background-position: 0 0;
}
#banks-list .EghtesadeNovin {
    background-position: -55px 0;
}
#banks-list .Mellat {
    background-position: -110px 0;
}
#banks-list .Keshavarzi {
    background-position: -165px 0;
}
#banks-list .Sina {
    background-position: -220px 0;
}
#banks-list .Parsian {
    background-position: -275px 0;
}
#banks-list .ToseyeSaderat {
    background-position: -330px 0;
}
#banks-list .SanatoMadan {
    background-position: -385px 0;
}
#banks-list .Pasargad {
    background-position: -440px 0;
}
#banks-list .Melli {
    background-position: -495px 0;
}
#banks-list .Saderat {
    background-position: -550px 0;
}
#banks-list .PostBank {
    background-position: -605px 0;
}
#banks-list .Tejarat {
    background-position: -660px 0;
}
#banks-list .ToseyeTavon {
    background-position: -715px 0;
}
#banks-list .Ansar {
    background-position: -770px 0;
}
#banks-list .Refah {
    background-position: -825px 0;
}
#banks-list .Sepah {
    background-position: -880px 0;
}
#banks-list .Sarmayeh {
    background-position: -935px 0;
}
#banks-list .Tat {
    background-position: -990px 0;
}
#banks-list .KarAfarin {
    background-position: -1045px 0;
}
#banks-list .Maskan {
    background-position: -1100px 0;
}
#banks-list .Mehr {
    background-position: -1155px 0;
}
#banks-list .Dey {
    background-position: -1210px 0;
}
#banks-list .Shahr {
    background-position: -1265px 0;
}
#banks #no-gateway-message {
    display: block;
    text-align: center;
    clear: both;
    font: bold 13px tahoma;
    color: #FFF;
    padding: 40px;
}